# Virtual environment
.venv/
env/
venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Dataset (local only)
dataset/

# OS files
.DS_Store

# IDEs
.vscode/
.idea/

# Logs
*.log

# Local notes
notes/QandA.md
